################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/*/obj
/*/bin
.vs/*
*.dll

/Tests/*/bin/*
/Tests/*/obj/*
/Examples/*/obj/*
/Examples/*/bin/*